@import "../../style/variables";

@mixin createGaps() {
    @each $name, $value in $SCREEN {
        @media screen and (min-width: #{$value}px) {
            max-width: #{$value}px;
        }
    }
}

div.block {
    width: 70%;
    margin: 0 auto;
    @include createGaps();
    &.fluid {
        width: 100%;
    }
    &.color {

    }
}