/* Breakpoints */
$SCREEN: (
        sm: 576,
        md: 768,
        lg: 992,
        xl: 1200,
        xxl: 1400,
);
$SIZE: (
        light: 0.1rem,
        normal: 0.25rem,
        hard: 0.5rem,
        great: 1rem,
        titan: 2rem,
        border: 1.25rem,
        blur: 0.5rem,
);
$OPACITY: (
        empty: 0,
        light: 0.2,
        soft: 0.35,
        normal: 0.5,
        hard: 0.8,
        full: 1,
);
$COLORS: (
        primary: (
                r: 196,
                g: 196,
                b: 196,
        ),
        second: (
                r: 65,
                g: 65,
                b: 65,
        ),
        dark: (
                r: 0,
                g: 0,
                b: 0,
        ),
        light: (
                r: 255,
                g: 255,
                b: 255,
        )
)